<!DOCTYPE html>

<html>
    <head>
        <title>Steph's Wiki</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    
    <body>
        <header id="header">
            {% block header %}
            {% endblock %}

            <div class="auth-actions">
            {% if user %}
                {{user.username}} | <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Log in</a> | <a href="/signup">Sign up</a>
            {% endif %}
            </div>
        </header>
        
        {% block content %}
        {% endblock %}
    </body>
</html>