{% extends "base.html" %}

{% block content %}
<h1>Steph's Udacity Blog Thing</h1>
<div class="newpost-link">
    <a href="/blog/newpost">Create new post</a>
</div>
{% for post in posts %}
    <div class="post">
        <div class="post-title">{{post.title}}</div>
        <div class="post-contents">{{post.render() | safe}}</div>
        <div class="post-time">posted on {{post.created.date()}}</div>
    </div>
    <hr>
{% endfor %}

<div>
    Queried {{time_since_last_update}} seconds ago
</div>
{% endblock %}